#logo {
    height: 130px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    #logo {
        height: 100px;
        margin-top: 7px;
    }
}

#admin_login {
    margin-top: 30px;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0091EA;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0091EA;
    box-shadow: 0 1px 0 0 #0091EA;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #0091EA;
}

/* label focus color */
.input-field input[type=password]:focus + label {
    color: #0091EA;
}
/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #0091EA;
    box-shadow: 0 1px 0 0 #0091EA;
}
/* valid color */
.input-field input[type=password].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=password].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

#login_button {
    background: #0091EA;
    margin-left: 17px;
}

.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0091EA;
    background-color: #0091EA;
}

#last_man_standing {
    margin-bottom: -60px;
}

.horizontal_line {
    opacity: 0.3;
    margin-bottom: -20px;
}